# Scraping Postal Code, Neighborhoods from Wikipedia

First we scraped the wikipedia page with pandas library

In [1]:
import pandas as pd
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

In [2]:
df[0].shape

(287, 3)

In [3]:
df[0].head(10)

  Postcode           Borough      Neighborhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor
7      M7A  Downtown Toronto      Queen's Park
8      M8A      Not assigned      Not assigned
9      M9A      Queen's Park      Not assigned

## Cleaning the dataset

### 1) Removing Rows with Borough = 'Not assigned'

In [4]:
df[0] = df[0][df[0]['Borough'] != 'Not assigned']

In [5]:
df[0].shape

(210, 3)

In [6]:
df[0].head(10)

   Postcode           Borough      Neighborhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M6A        North York  Lawrence Heights
6       M6A        North York    Lawrence Manor
7       M7A  Downtown Toronto      Queen's Park
9       M9A      Queen's Park      Not assigned
10      M1B       Scarborough             Rouge
11      M1B       Scarborough           Malvern
13      M3B        North York   Don Mills North

### 2) Assigning Neighborhoods that Not Assigned into its Borough Value

In [7]:
def f(row):
    if row['Neighborhood'] == 'Not assigned':
        row['Neighborhood'] = row['Borough']
    return row

df[0] = df[0].apply(f, axis=1)
df[0].head(10)

   Postcode           Borough      Neighborhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M6A        North York  Lawrence Heights
6       M6A        North York    Lawrence Manor
7       M7A  Downtown Toronto      Queen's Park
9       M9A      Queen's Park      Queen's Park
10      M1B       Scarborough             Rouge
11      M1B       Scarborough           Malvern
13      M3B        North York   Don Mills North

### 3) Merging Rows with the same Postcode

Here we are grouping our dataset by postcode and looping on it getting the values of each group into a roow in our new cleaned dataset the multiple Neighborhood will be all combined into a comma separated string

In [8]:
groups = df[0].groupby('Postcode')
data=[]
for name,group in groups:
    data.append({
        'Postcode':name,
        'Borough':group['Borough'].values[0],
        'Neighborhood':','.join(group['Neighborhood'].values)
    })
cleaned_df = pd.DataFrame(data)

In [10]:
cleaned_df.head(10)

       Borough                                   Neighborhood Postcode
0  Scarborough                                  Rouge,Malvern      M1B
1  Scarborough           Highland Creek,Rouge Hill,Port Union      M1C
2  Scarborough                Guildwood,Morningside,West Hill      M1E
3  Scarborough                                         Woburn      M1G
4  Scarborough                                      Cedarbrae      M1H
5  Scarborough                            Scarborough Village      M1J
6  Scarborough      East Birchmount Park,Ionview,Kennedy Park      M1K
7  Scarborough                  Clairlea,Golden Mile,Oakridge      M1L
8  Scarborough  Cliffcrest,Cliffside,Scarborough Village West      M1M
9  Scarborough                     Birch Cliff,Cliffside West      M1N

In [9]:
cleaned_df.shape

(103, 3)

In [11]:
cleaned_df.to_excel('cleaned_dataset.xlsx')